auto
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.out
*.fls
*.synctex.gz
*.fdb_latexmk
rpz*.pdf
*.eps
*.nlo
*.nls
.deps
tex/inc
tex/_minted-rpz
utils/install.fish
utils/install.sh
build
.idea
*.iml
